@model IEnumerable<VlogSite.Models.UserTbl>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<body>



    <div id="container">

        <div id="header">
            <br />
            <h1>Hy!<br> Lets Get to Know <br />Each other</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Sign in!
                </a>
                <a class="btn btn-primary btn-lg" asp-action="Register2" role="button">
                    Join Us?
                </a>
            </p>
        </div>
        <div id="sidebar">
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/Index/Image/smile.png" />
        </div>
        <div class="clear"></div>

        <div id="main">
            <h2> Great People With their thought,</h2>


            <div class="row">
                @foreach (var item in Model)
                {

                    <!-- BEGIN CARD -->

                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card">
                            <img class="card-img-top" src="~/Image/@item.UserPhoto" asp-append-version="true">
                            <div class="card-block">
                                <figure class="profile">
                                    <img src="~/Image/@item.UserPhoto" class="profile-avatar" alt="" asp-append-version="true">
                                </figure>
                                <h4 class="card-title mt-3">@Html.DisplayFor(modelItem => item.UserName)</h4>
                                <div class="meta">
                                    <a>@Html.DisplayFor(modelItem => item.UserEmail)</a>
                                </div>
                                <div class="card-text">
                                    @Html.DisplayFor(modelItem => item.UserAbout)
                                </div>
                            </div>
                            <div class="card-footer">
                                <small>@Html.ActionLink("Details", "usrDetails", new { ID=@item.UserId })</small>

                                <!-- <button class="btn btn-secondary float-right btn-sm" >show</button>   -->
                            </div>
                        </div>
                    </div>

                    <!-- END CARD -->

                }
            </div>

                <div id="footer">this is footer </div>

            </div>
    </div>
    </body>
</html>
