@model IEnumerable<VlogSite.Models.UserTbl>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/Index/style.css" />
</head>
<body>



    <div id="container">

        <div id="header">
            <br />
            <h1>Hy!<br> Lets Get to Know <br />Eachother</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Sign in!
                </a>
                <a class="btn btn-primary btn-lg" asp-action="Register" role="button">
                    Join US?
                </a>
            </p>
        </div>
        <div id="sidebar">
            <br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/Index/Image/smile.png" />
        </div>
        <div class="clear"></div>

        <div id="main">
            <h2> Great People With their thought,</h2>



            <div id="footer">this is footer </div>

        </div>
        </div>
    </body>
</html>
